<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0040">
  <link name="bowl_0040">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="3.977658990828186e-05" ixy="-1.7130406310693485e-13" ixz="1.6190450281504794e-13" iyy="2.3881011201606344e-05" iyz="-7.2073722934508e-13" izz="2.3881014008961347e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0040/bowl_0040.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0040/bowl_0040.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
