<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0016">
  <link name="bowl_0016">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="2.9699685372674817e-05" ixy="6.3822624409935344e-12" ixz="9.054088481192336e-08" iyy="2.4768912349521497e-05" iyz="7.773538963785715e-12" izz="2.4770763964835503e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0016/bowl_0016.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0016/bowl_0016.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
