<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0045">
  <link name="bowl_0045">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="4.62962962962963e-05" ixy="-6.148726851851852e-06" ixz="3.978587962962963e-06" iyy="2.0390263310185185e-05" iyz="8.680555555555556e-06" izz="2.0390263310185185e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0045/bowl_0045.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0045/bowl_0045.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
