<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0073">
  <link name="bowl_0073">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="1.9531250000000004e-05" ixy="1.7438616071428574e-07" ixz="1.7438616071428574e-07" iyy="3.4877232142857146e-06" iyz="-9.765625000000002e-06" izz="1.7438616071428574e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0073/bowl_0073.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0073/bowl_0073.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
