<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0055">
  <link name="bowl_0055">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="-1.749070887493387e-20" ixy="1.4835853456631908e-20" ixz="-1.7490708874933863e-21" iyy="-6.0779137691278825e-05" iyz="-3.498141774986773e-21" izz="-6.077913769127885e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0055/bowl_0055.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0055/bowl_0055.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
