<?xml version='1.0' encoding='utf-8'?>
<robot name="Y10116_Bowl">
  <link name="Y10116_Bowl">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="5.485400651490377e-05" ixy="1.1039135318971454e-07" ixz="-2.0384062110338827e-07" iyy="3.3805735719345905e-05" iyz="-1.0679612338422202e-09" izz="3.3806773510820494e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/Y10116_Bowl/Y10116_Bowl.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/Y10116_Bowl/Y10116_Bowl.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
