<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0061">
  <link name="bowl_0061">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="4.400741323499494e-05" ixy="9.092865863912308e-08" ixz="-2.2582613760221126e-08" iyy="2.4224645873352173e-05" iyz="-8.501277467939177e-10" izz="2.4226997452731083e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0061/bowl_0061.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0061/bowl_0061.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
