<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0035">
  <link name="bowl_0035">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="4.207936698526318e-05" ixy="9.986243144957032e-13" ixz="2.4142669478480693e-11" iyy="2.7745065160809402e-05" iyz="6.5187622208571144e-12" izz="2.7745065499920774e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0035/bowl_0035.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0035/bowl_0035.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
