<?xml version='1.0' encoding='utf-8'?>
<robot name="8eab5598b81afd7bab5b523beb03efcd">
  <link name="8eab5598b81afd7bab5b523beb03efcd">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="2.5552757861125285e-05" ixy="1.1254236201978089e-08" ixz="3.7056859690934823e-09" iyy="2.55544697989204e-05" iyz="-3.33129439362407e-09" izz="4.1727689315966485e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/8eab5598b81afd7bab5b523beb03efcd/8eab5598b81afd7bab5b523beb03efcd.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/8eab5598b81afd7bab5b523beb03efcd/8eab5598b81afd7bab5b523beb03efcd.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
