<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0051">
  <link name="bowl_0051">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="-0.35099074088969384" ixy="0.0007511281338188552" ixz="-0.0006519559602110154" iyy="-0.1994628002418081" iyz="-0.1739321851864978" izz="-0.15153721116155572" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0051/bowl_0051.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0051/bowl_0051.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
