<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0080">
  <link name="bowl_0080">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="3.906250000000001e-05" ixy="3.0517578125e-06" ixz="-9.765625000000002e-06" iyy="0.0" iyz="1.9531250000000004e-05" izz="3.906250000000001e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0080/bowl_0080.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0080/bowl_0080.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
