<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0079">
  <link name="bowl_0079">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="3.306820728483701e-05" ixy="-4.101510093404324e-12" ixz="-2.809399863766422e-12" iyy="2.134824281573414e-05" iyz="-2.989152601217239e-11" izz="2.1348274347732354e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0079/bowl_0079.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0079/bowl_0079.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
