<?xml version='1.0' encoding='utf-8'?>
<robot name="53476e51e6bb59eaf35de0153a1c1eca">
  <link name="53476e51e6bb59eaf35de0153a1c1eca">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="1.8478493099926093e-05" ixy="-8.647333134872294e-07" ixz="-6.267136908267343e-07" iyy="2.0446739570396505e-05" iyz="-2.0450943129598833e-07" izz="3.424165964710038e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/53476e51e6bb59eaf35de0153a1c1eca/53476e51e6bb59eaf35de0153a1c1eca.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/53476e51e6bb59eaf35de0153a1c1eca/53476e51e6bb59eaf35de0153a1c1eca.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
