<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0024">
  <link name="bowl_0024">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="-0.00027343940734863285" ixy="-1.8554687500000003e-05" ixz="-0.00011717987060546876" iyy="-0.00032104682922363286" iyz="0.00028417968750000004" izz="4.6142578125000014e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0024/bowl_0024.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0024/bowl_0024.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
