<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0027">
  <link name="bowl_0027">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="4.2447451201654844e-05" ixy="-8.190911005565441e-12" ixz="1.607230270743531e-12" iyy="2.478407741475017e-05" iyz="-1.0279180876073796e-10" izz="2.4784023268222806e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0027/bowl_0027.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0027/bowl_0027.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
