<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0078">
  <link name="bowl_0078">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="-0.000127949742897337" ixy="-4.764684847310337e-09" ixz="-1.7902120742994425e-09" iyy="-6.264279525334886e-05" iyz="-6.206205534681887e-11" izz="-6.264285240567843e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0078/bowl_0078.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0078/bowl_0078.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
