<?xml version='1.0' encoding='utf-8'?>
<robot name="Glassbowl_800_tex">
  <link name="Glassbowl_800_tex">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="0.00015648544784373328" ixy="9.427152618080493e-07" ixz="2.2487781020752364e-06" iyy="8.069225556799912e-05" iyz="2.4120791396545616e-06" izz="8.015692010017171e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/Glassbowl_800_tex/Glassbowl_800_tex.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/Glassbowl_800_tex/Glassbowl_800_tex.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
