<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0081">
  <link name="bowl_0081">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="1.458433587746587e-05" ixy="-2.2973393218926005e-09" ixz="-4.0527790157110755e-09" iyy="2.3717962529217364e-05" iyz="-8.052092433950278e-11" izz="2.3717654143959876e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0081/bowl_0081.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0081/bowl_0081.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
