<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0030">
  <link name="bowl_0030">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="-2.4907297278889057e-05" ixy="3.5151026080991044e-08" ixz="-8.372538000354557e-08" iyy="-1.363496972700009e-05" iyz="1.248890875459892e-07" izz="-8.241735842094698e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0030/bowl_0030.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0030/bowl_0030.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
