<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0047">
  <link name="bowl_0047">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="4.957573889697788e-05" ixy="-4.623040360829822e-12" ixz="-1.190315332273357e-11" iyy="2.7224509008509955e-05" iyz="3.3456857206943724e-09" izz="2.7182788421975315e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0047/bowl_0047.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0047/bowl_0047.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
