<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0005">
  <link name="bowl_0005">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="3.2962243941359e-05" ixy="-5.57803181939697e-12" ixz="5.051569252384245e-12" iyy="2.013846654681252e-05" iyz="1.129074554515044e-11" izz="2.013848760356144e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0005/bowl_0005.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0005/bowl_0005.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
