<?xml version='1.0' encoding='utf-8'?>
<robot name="scan_dish_3">
  <link name="scan_dish_3">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="3.0371369702655257e-05" ixy="-6.386698125772848e-08" ixz="-5.654047335244774e-09" iyy="3.0324720406673104e-05" iyz="4.54095553355002e-08" izz="4.459737762178655e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/scan_dish_3/scan_dish_3.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/scan_dish_3/scan_dish_3.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
