<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0017">
  <link name="bowl_0017">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="4.675722070852511e-05" ixy="1.4936772229285988e-07" ixz="-8.345947466294124e-09" iyy="2.697912527171593e-05" iyz="-2.826009467431014e-11" izz="2.883204238153114e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0017/bowl_0017.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0017/bowl_0017.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
