<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0025">
  <link name="bowl_0025">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="1.0123009853583655e-05" ixy="-3.4601639831540154e-07" ixz="1.4565785367703297e-07" iyy="6.196621182218575e-06" iyz="-6.826485898848585e-09" izz="6.177734594396583e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0025/bowl_0025.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0025/bowl_0025.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
