<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0210">
  <link name="melamineware_g_0210">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="1.9072941838429827e-05" ixy="9.65832177274265e-14" ixz="3.0650727809135723e-12" iyy="1.908626889669967e-05" iyz="1.5200230388081158e-15" izz="3.7675946310297614e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/melamineware_g_0210/melamineware_g_0210.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/melamineware_g_0210/melamineware_g_0210.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
