<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0077">
  <link name="bowl_0077">
    <inertial>
      <mass value="0.05000000000000001" />
      <inertia ixx="-1.3521965894011632e-05" ixy="-3.2208131541438614e-07" ixz="1.686951396972015e-07" iyy="5.63687905913864e-06" iyz="-5.7842370604388304e-08" izz="-1.078711487843133e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0077/bowl_0077.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0077/bowl_0077.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
