<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0070">
  <link name="bowl_0070">
    <inertial>
      <mass value="0.05000000000000001" />
      <inertia ixx="4.2996512802775097e-05" ixy="3.278552989531454e-07" ixz="-4.2328933208794646e-07" iyy="2.823437483041848e-05" iyz="-9.390856334007696e-09" izz="2.8239289563698016e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0070/bowl_0070.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0070/bowl_0070.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
