<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0066">
  <link name="bowl_0066">
    <inertial>
      <mass value="0.049999999999999996" />
      <inertia ixx="-0.00020062095240542765" ixy="1.5419407894736844e-06" ixz="1.5194541529605262e-05" iyy="-0.00020759180972450657" iyz="6.851999383223684e-05" izz="3.886975740131579e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0066/bowl_0066.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0066/bowl_0066.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
