<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0018">
  <link name="bowl_0018">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="-0.00018595060448370733" ixy="-3.9432408931578723e-10" ixz="-1.7478893644080008e-10" iyy="-9.389821512242263e-05" iyz="8.560410678586789e-11" izz="-9.389827751895741e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0018/bowl_0018.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0018/bowl_0018.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
