<?xml version='1.0' encoding='utf-8'?>
<robot name="bowl_0074">
  <link name="bowl_0074">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="9.765625000000002e-05" ixy="1.2207031250000002e-06" ixz="8.850097656250001e-06" iyy="5.859375000000001e-05" iyz="5.798339843750001e-06" izz="3.906250000000001e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0074/bowl_0074.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/bowl_0074/bowl_0074.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
