<?xml version='1.0' encoding='utf-8'?>
<robot name="melamineware_g_0207">
  <link name="melamineware_g_0207">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="1.8712539573902126e-05" ixy="-4.27860105766542e-11" ixz="-2.6118618686578636e-11" iyy="1.871203801432163e-05" iyz="-2.015873995649173e-11" izz="3.704358847205644e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/melamineware_g_0207/melamineware_g_0207.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/melamineware_g_0207/melamineware_g_0207.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
