<?xml version='1.0' encoding='utf-8'?>
<robot name="594b22f21daf33ce6aea2f18ee404fd5">
  <link name="594b22f21daf33ce6aea2f18ee404fd5">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="1.346159076804874e-05" ixy="1.2094888066150266e-08" ixz="5.940166879426351e-07" iyy="2.1433398834623662e-05" iyz="2.3665332415031375e-10" izz="3.242644751187532e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/594b22f21daf33ce6aea2f18ee404fd5/594b22f21daf33ce6aea2f18ee404fd5.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/hong/ws/stable-pushnet-datagen/src/scripts/assets/dish_urdf/594b22f21daf33ce6aea2f18ee404fd5/594b22f21daf33ce6aea2f18ee404fd5.obj" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>
